[submodule "labs/vinyl"]
	path = labs/vinyl
	url = https://github.com/indiefolk/vinyl.git
[submodule "labs/cinema"]
	path = labs/cinema
	url = https://github.com/indiefolk/cinema.git
[submodule "labs/perspective"]
	path = labs/perspective
	url = https://github.com/indiefolk/perspective.git
[submodule "labs/isitburritoday"]
	path = labs/isitburritoday
	url = https://github.com/indiefolk/isitburritoday.git
[submodule "labs/alt-portfolio"]
	path = labs/alt-portfolio
	url = https://github.com/indiefolk/alternative-portfolio.git
[submodule "labs/mainframe"]
	path = labs/mainframe
	url = https://github.com/indiefolk/mainframe.git
[submodule "labs/posters"]
	path = labs/posters
	url = git@github.com:indiefolk/posters.git
